<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clients</title>
</head>
<body>
<h1>Client List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="client : ${clients}">
        <td th:text="${client.id}">1</td>
        <td th:text="${client.name}">John Doe</td>
        <td th:text="${client.email}">john@example.com</td>
        <td>
            <a th:href="@{/clients/edit/{id}(id=${client.id})}">Edit</a>
            <a th:href="@{/clients/delete/{id}(id=${client.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div style="margin-top: 15px;">
    <a th:href="@{/home}">Back to Home</a>
</div>
</body>
</html>